@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
*{
  padding: 0;
  margin: 0;
}

/* Default */
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Swiper custom style */

.swiper-pagination-bullet{
  background: white !important;
}
.swiper-pagination-bullet-active{
  background-color: white !important
}

.swiperCustom{
  padding-bottom: 36px !important
}
@tailwind base;
@tailwind components;
@tailwind utilities;